---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h2 class="page-heading">{{ page.title }}</h2>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Our tools" }}</h2>
    {%- if page.no_limit -%}
      <ul class="post-list">
        {%- for post in site.posts  -%}
          {% include postli.html post=post %}
        {%- endfor -%}
      </ul>
    {%- else -%}
      <ul class="post-list">
        {%- for post in site.posts  limit:3 -%}
          {% include postli.html post=post %}
        {%- endfor -%}
        <div class="find-more"> <a href="{{ "more_tools.html" | relative_url }}" >See all our tools</a></div>
      </ul>
    {%- endif -%}
  {%- endif -%}
</div>
